body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#665;
  background-color: #eee;
}

.padding {
  padding: 15px;
}

.box {
  padding-top: 35px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  background-color: floralwhite;
}

.lb > span{
  position: absolute;
  margin-left: 20px;
  margin-top: -35px;
  padding: 0 5px;
  background-color: rgba(50,50,40,0.7);
  color: white;
  font-size: 20px;
  font-weight: 200;
}

.lb > h1 {
  font-weight: 100;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.graph {
  padding-top: 25px;
  padding-bottom: 0;
}

.graph > span{
  margin-top: -25px;
}


.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}